*.egg-info
*.pot
*.py[co]
.vscode/
.tox/
.DS_Store
.idea/
.env/
*.mo

__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
build/
tests/report/
env/

media/
static/
!media/.keep
!static/.keep

assets/webpack_bundles/
webpack-*-stats.json
